# Local environment variables
.env.asana
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db
scripts/temp.csv
scripts/diff_outputs/config_updates.csv
scripts/diff_outputs/reviews_updates.csv
scripts/diff_outputs/services_updates.csv
