<div class="container">
    <a href-config-key="LOGO_HREF" href="index.html" class="logo" text-config-key="LOGO_TEXT">Style Plan(it)</a>
    <button class="menu-toggle" aria-label="Toggle navigation" aria-expanded="false"><i class="fas fa-bars"></i></button>
    <div class="nav-links">
        <a href-config-key="NAV_LINK_1_HREF" href="index.html#how-it-works" text-config-key="NAV_LINK_1_TEXT">How It Works</a>
        <a href-config-key="NAV_LINK_2_HREF" href="index.html#reviews" text-config-key="NAV_LINK_2_TEXT">Reviews</a>
        <a href-config-key="NAV_LINK_3_HREF" href="services.html" text-config-key="NAV_LINK_3_TEXT">Services</a>
        <a href="meet-the-team.html">Meet the Team</a>
        <a href-config-key="NAV_LINK_4_HREF" href="index.html#be-an-icon" text-config-key="NAV_LINK_4_TEXT">Be an ICON</a>
    </div>
</div>